<!-- ******************************************************************* -->
<!-- File Information -->
<!-- Document Name: Update-room.component.html-->
<!-- Author: Luis Concepcion, Jialong Zhang, Fan Chen-->
<!-- Date Created: 8/7/2019 -->
<!-- Date Updated: 8/13/2019  -->
<!-- This web site will display  -->
<!-- Created NgForm for room that consists of room type,number of beds,location,room number, gender, start date, and end date -->
<!-- Used Httpclient get method to communicate with API to retrieve data -->
<!-- Add description input -->
<!-- ******************************************************************** -->
<div class="d-flex justify-content-center">
        <h1 class="pb-1">Update Room Info</h1>
</div>

<!-- *********************************Form*********************************** -->
<!-- Room Type-->
<form [formGroup]="mygroup" (ngSubmit)="onSubmit()" >
    <fieldset class="form-group">
        <div class="row justify-content-center">
            <legend class="col-form-label col-sm-2 pt-0">Room Type:</legend>
                <div class="col-sm-2 py-0">
                    <div class="form-check form-check-inline" >
                        <input type="radio" class="form-check-input" name="Type" id ="Apartment" value="Apartment" formControlName="Type" [checked]="rm.Type=='Apartment'" [ngModel] = "rm.Type">
                        <label for="Apartment" class="form-check-label">Apartment</label>
                    </div>
                    <div class="form-check form-check-inline" >
                         <input type="radio" class="form-check-input" name="Type" id ="Dorm" value="Dorm" formControlName="Type" [checked]="rm.Type=='Dorm'" [ngModel] = "rm.Type">
                         <label for="Dorm" class="form-check-label">Dorm</label>
                    </div>
                </div>

        </div>
    </fieldset>
<!-- Number of Beds -->
    <div class = "form-group">
        <div class="row justify-content-center">
                <label for="NumBeds" class="col-sm-2">Number of Beds:</label>
                <input type="number" class="form-control col-sm-2 "  name="MaxOccupancy" id="NumBeds"  formControlName="MaxOccupancy"  [ngModel] = "rm.MaxOccupancy">
                
                <!--validation-->
                <div *ngIf="submitted && mygroup.controls.MaxOccupancy.errors">
                        <div class = "alert alert-danger" *ngIf="mygroup.controls.MaxOccupancy.errors.required">Number of Beds is required</div>
                        <div class = "alert alert-danger" *ngIf="mygroup.controls.MaxOccupancy.errors.min">Number of Beds must be greater than 0</div>
                </div>

        </div>
    </div>

    <!-- Current Occupancy -->
    <div class = "form-group">
        <div class="row justify-content-center">
            <label for="CurrentOccupancy" class="col-sm-2">Current Occupancy:</label>
            <input type="number" class="form-control col-sm-2 "  name="CurrentOccupancy" id="CurrentOccupancy"  formControlName="CurrentOccupancy" [ngModel] = "rm.CurrentOccupancy">
            
            <!--validation-->
            <div *ngIf="submitted && mygroup.controls.CurrentOccupancy.errors">
                    <div class = "alert alert-danger" *ngIf="mygroup.controls.CurrentOccupancy.errors.required">Number of Beds is required</div>
                <div class = "alert alert-danger" *ngIf="mygroup.controls.CurrentOccupancy.errors.min">Number of Beds must be greater than 0</div>
            </div>
        </div>
    </div>
    

 <!-- Room Number -->  
    <div class="form-group">
        <div class="row justify-content-center">
            <label for="InternalAddress" class="col-sm-2">Room number:</label>
            <input type="text" class="from-control col-sm-2" id="InternalAddress" name="RoomNumber" formControlName="RoomNumber" [ngModel]="rm.RoomNumber">
             <!--validation-->
            <div *ngIf="submitted && mygroup.controls.RoomNumber.errors">
                <div class = "alert alert-danger" *ngIf="mygroup.controls.RoomNumber.errors.required" >Room Number is required</div>
            </div>
        </div>
    </div>
 <!-- Gender -->  
    <fieldset class="form-group">
            <div class="row justify-content-center">
                <legend class="col-form-label col-sm-2 pt-0">Gender:</legend>
                    <div class="col-sm-2 py-0">
                        <div class="form-check form-check-inline">
                            <input type="radio" class="form-check-input" name="Gender" id ="Male" value="Male" formControlName="Gender" [checked]="rm.Gender=='Male'" [ngModel] = "rm.Gender">
                            <label for="Male" class="form-check-label">Male</label>
                        </div>
                        <div class="form-check form-check-inline">
                             <input type="radio" class="form-check-input" name="Gender" id ="Female" value="Female" formControlName="Gender" [checked]="rm.Gender=='Female'" [ngModel] = "rm.Gender">
                             <label for="Female" class="form-check-label">Female</label> 
                        </div>
                    </div>
            </div>
    </fieldset>
<!-- Start Date -->  
    <div class="form-group">
        <div class="row justify-content-center">
            <label for="StartDate" class="col-sm-2">Start Date:</label>
            <input type="date" class="form-control col-sm-2" id="StartDate" name="StartDate" formControlName="StartDate" 
                [ngModel] = "rm.StartDate | date:'yyyy-MM-dd'" max="this.rm.EndDate">
            
            
            <!--validation-->
            <div *ngIf="submitted && mygroup.controls.StartDate.errors">
                <div class = "alert alert-danger" *ngIf="mygroup.controls.StartDate.errors.required">StartDate is required</div>
            </div>
        </div>
    </div>
<!-- End Date -->  
    <div class="form-group">
            <div class="row justify-content-center">
                <label for="EndDate" class="col-sm-2">End Date:</label>
                <input type="date" class="form-control col-sm-2" id="EndDate" name="EndDate" formControlName="EndDate" 
                [ngModel]="rm.EndDate | date:'yyyy-MM-dd'" min="this.rm.StartDate | date:'yyyy-MM-dd'">
                <!--validation-->
                <div *ngIf="submitted && mygroup.controls.EndDate.errors">
                    <div class = "alert alert-danger" *ngIf="mygroup.controls.EndDate.errors.required">EndDate is required</div>
                </div>
            </div>
    </div>
<!-- Description -->  
    <div class="form-group">
        <div class="row justify-content-center">
            <label for="Description" class="col-sm-2">Description</label>
            <textarea class="form-control col-sm-2" id="Description" name="Description" for="Description" formControlName="Description" [ngModel] = "rm.Description"></textarea>
        </div>
    </div>

    

<!-- Submit Button -->  
    <div class="form-group">
        <div class="col text-center">
             <input type="submit" class="btn btn-primary" id="AddRoom" value="Update">
        </div>
    </div>

    
</form>
