<!-- ******************************************************************* -->
<!-- File Information -->
<!-- Document Name: update-room.component.html-->
<!-- Author: Fan Chen, WeiRong Wang-->
<!-- Date Created: 8/9/2019 -->
<!-- Date Updated: 8/9/2019  -->
<!-- This web site will display  -->
<!-- Update NgForm for room that consists of room type,number of beds,location,room number, gender, start date, and end date -->
<!-- Used Httpclient put method to communicate with API to update data -->
<!-- ******************************************************************** -->
<div class="d-flex justify-content-center">
    <h1 class="pb-1">Update Room Info</h1>
</div>
