.container-updateroom{
    background-image: url("https://g5-assets-cld-res.cloudinary.com/image/upload/q_auto,f_auto,c_fill,g_center,h_1200,w_2000/v1531844720/g5/g5-c-j2uwbrzj-morgan-management-llc/g5-cl-1h5bhsqiml-waters-edge-apartments/uploads/305-INT-011-HR-edit_hero_rfsy8w.jpg");
    text-align: center;
    padding: 100px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container-updateroom-inner{
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    padding: 50px;
    background-color: white;
    opacity: 0.9;
    border-radius: 5px;
}

#RoomForm input{
    border: 1px solid gray;
    padding: 3px;
    border-radius: 5px;
}

#RoomForm label{
    margin-right: 15px;
}

#Description{
    border: 1px solid gray;
    padding: 3px;
    border-radius: 5px;
    position: relative;
    top: 15px;
}