<!-- ******************************************************************* -->
<!-- File Information -->
<!-- Document Name: add-room.component.html-->
<!-- Author: Luis Concepcion, Jialong Zhang-->
<!-- Date Created: 8/7/2019 -->
<!-- Date Updated: 8/13/2019  -->
<!-- This web site will display  -->
<!-- Created NgForm for room that consists of room type,number of beds,location,room number, gender, start date, and end date -->
<!-- Used Httpclient get method to communicate with API to retrieve data -->
<!-- Add validation for room type, number of beds, Room Number,Gender, StartDate,EndDate-->
<!-- ******************************************************************** -->
<div class="d-flex justify-content-center">
        <h1 class="pb-1">Add a Room</h1>
</div>

<!-- *********************************Form*********************************** -->
<!-- Room Type-->
<form [formGroup]="mygroup" (ngSubmit)="onSubmit()" >
    <fieldset class="form-group">
        <div class="row justify-content-center">
            <legend class="col-form-label col-sm-2 pt-0">Room Type:</legend>
                <div class="col-sm-2 py-0">
                    <div class="form-check form-check-inline">
                        <input type="radio" class="form-check-input" name="Type" id ="Apartment" value="Apartment" formControlName="Type">
                        <label for="Apartment" class="form-check-label">Apartment</label>
                    </div>
                    <div class="form-check form-check-inline">
                         <input type="radio" class="form-check-input" name="Type" id ="Dorm" value="Dorm" formControlName="Type" >
                         <label for="Dorm" class="form-check-label">Dorm</label>
                    </div>
                </div>
                    <!--validation-->
                    <div *ngIf="submitted && mygroup.controls.Type.errors">
                        <div class = "alert alert-danger" *ngIf="mygroup.controls.Type.errors.required">Room Type is required</div>
                    </div>
        </div>
    </fieldset>
<!-- Number of Beds -->
    <div class = "form-group">
        <div class="row justify-content-center">
                <label for="NumBeds" class="col-sm-2">Number of Beds:</label>
                <input type="number" class="form-control col-sm-2 "  name="MaxOccupancy" id="NumBeds"  formControlName="MaxOccupancy" placeholder="Enter Number of Beds">
                <!--validation-->
                <div *ngIf="submitted && mygroup.controls.MaxOccupancy.errors">
                        <div class = "alert alert-danger" *ngIf="mygroup.controls.MaxOccupancy.errors.required">Number of Beds is required</div>
                        <div class = "alert alert-danger" *ngIf="mygroup.controls.MaxOccupancy.errors.min">Number of Beds must be greater than 0</div>
                </div>

        </div>
    </div>

 <!-- Room Number -->  
    <div class="form-group">
        <div class="row justify-content-center">
            <label for="InternalAddress" class="col-sm-2">Room number:</label>
            <input type="text" class="from-control col-sm-2" id="InternalAddress" name="RoomNumber" formControlName="RoomNumber" placeholder="Enter Room Number">
             <!--validation-->
            <div *ngIf="submitted && mygroup.controls.RoomNumber.errors">
                <div class = "alert alert-danger" *ngIf="mygroup.controls.RoomNumber.errors.required" >Room Number is required</div>
            </div>
        </div>
    </div>
 <!-- Gender -->  
    <fieldset class="form-group">
            <div class="row justify-content-center">
                <legend class="col-form-label col-sm-2 pt-0">Gender:</legend>
                    <div class="col-sm-2 py-0">
                        <div class="form-check form-check-inline">

                            <input type="radio" class="form-check-input" name="Gender" id ="Male" value="Male" formControlName="Gender">

                            <label for="Male" class="form-check-label">Male</label>
                        </div>
                        <div class="form-check form-check-inline">
                             <input type="radio" class="form-check-input" name="Gender" id ="Female" value="Female" formControlName="Gender">
                             <label for="Female" class="form-check-label">Female</label> 
                     <!--validation-->
                             <div *ngIf="submitted && mygroup.controls.Gender.errors">
                                <div class = "alert alert-danger" *ngIf="mygroup.controls.Gender.errors.required">Gender is required</div>
                            </div>
                        </div>
                    </div>
            </div>
    </fieldset>
<!-- Start Date -->  
    <div class="form-group">
        <div class="row justify-content-center">
            <label for="StartDate" class="col-sm-2">Start Date:</label>
            <input type="date"  class="form-control col-sm-2" id="StartDate" name="StartDate" formControlName="StartDate" [(ngModel)]="StartDate" max="{{EndDate}}" [value]="">
            
            <!--validation-->
            <div *ngIf="submitted && mygroup.controls.StartDate.errors">
                <div class = "alert alert-danger" *ngIf="mygroup.controls.StartDate.errors.required">StartDate is required</div>
            </div>
        </div>
    </div>
<!-- End Date -->  
    <div class="form-group">
            <div class="row justify-content-center">
                <label for="EndDate" class="col-sm-2">End Date:</label>
                <input type="date" class="form-control col-sm-2" id="EndDate" name="EndDate" formControlName="EndDate" min="{{StartDate}}" [(ngModel)]="EndDate">
                <!--validation-->
                <div *ngIf="submitted && mygroup.controls.EndDate.errors">
                    <div class = "alert alert-danger" *ngIf="mygroup.controls.EndDate.errors.required">EndDate is required</div>
                </div>
            </div>
    </div>
<!-- Description -->  
<div class="form-group">
    <div class="row justify-content-center">
        <label for="Description" class="col-sm-2">Description</label>
        <textarea class="form-control col-sm-2" id="Description" name="Description" formControlName="Description" placeholder="Enter Description"></textarea>
    </div>
</div>
    
<!-- Submit Button -->  
    <div class="form-group">
        <div class="col text-center">
             <input type="submit" class="btn btn-primary" id="AddRoom" value="Submit">
             <button routerLink="" class="btn btn-secondary" >Go Back</button>
        </div>
    </div>
</form>
<!-- Submmited Validation Message-->
