<!-- ******************************************************************* -->
<!-- File Information -->
<!-- Document Name: add-room.component.html-->
<!-- Author: Luis Concepcion, Jialong Zhang-->
<!-- Date Created: 8/7/2019 -->
<!-- Date Updated: 8/13/2019  -->
<!-- This web site will display  -->
<!-- Created NgForm for room that consists of room type,number of beds,location,room number, gender, start date, and end date -->
<!-- Used Httpclient get method to communicate with API to retrieve data -->
<!-- Add validation for room type, number of beds, Room Number,Gender, StartDate,EndDate-->
<!-- ******************************************************************** -->

<div class="container-addroom">

    <div class="container-addroom-inner">

        <div>
            <h1>Add a Room</h1>
        </div>
        <br><br>
        
        <!-- *********************************Form*********************************** -->
        <!-- Room Type-->
        <form [formGroup]="mygroup" (ngSubmit)="onSubmit()" id="RoomForm">

            <div>
                <label>Room Type:</label>
                <input type="radio" class="" name="Type" id ="Apartment" value="Apartment" formControlName="Type">
                <label for="Apartment" class="">Apartment</label>
                <input type="radio" class="" name="Type" id ="Dorm" value="Dorm" formControlName="Type" >
                <label for="Dorm" class="">Dorm</label>

                <!--validation-->
                <div *ngIf="submitted && mygroup.controls.Type.errors">
                    <div class = "validate" *ngIf="mygroup.controls.Type.errors.required">Room Type is required</div>
                </div>
            </div>
            <br>

        <!-- Number of Beds -->
            <div>
                <label for="NumBeds" class="">Number of Beds:</label>
                <input type="number" class=""  name="MaxOccupancy" id="NumBeds"  formControlName="MaxOccupancy" placeholder="Enter Number of Beds">
                <!--validation-->
                <div *ngIf="submitted && mygroup.controls.MaxOccupancy.errors">
                        <div class = "validate" *ngIf="mygroup.controls.MaxOccupancy.errors.required">Number of Beds is required</div>
                        <div class = "validate" *ngIf="mygroup.controls.MaxOccupancy.errors.min">Number of Beds must be greater than 0</div>
                </div>
            </div>
            <br>
        
            <!-- Room Number -->  
            <div>
                <label for="InternalAddress" class="">Room number:</label>
                <input type="text" class="" id="InternalAddress" name="RoomNumber" formControlName="RoomNumber" placeholder="Enter Room Number">
                    <!--validation-->
                <div *ngIf="submitted && mygroup.controls.RoomNumber.errors">
                    <div class = "validate" *ngIf="mygroup.controls.RoomNumber.errors.required" >Room Number is required</div>
                </div>
            </div>
            <br>

            <!-- Gender -->  
          
            <div >
                <label class="">Gender:</label>
                <input type="radio" class="" name="Gender" id ="Male" value="Male" formControlName="Gender">
                <label for="Male" class="">Male</label>
                <input type="radio" class="" name="Gender" id ="Female" value="Female" formControlName="Gender">
                <label for="Female" class="">Female</label> 

                <!--validation-->
                <div *ngIf="submitted && mygroup.controls.Gender.errors">
                    <div class = "validate" *ngIf="mygroup.controls.Gender.errors.required">Gender is required</div>
                </div>        
            </div>
            <br>

        <!-- Start Date -->  
           
            <div>
                <label for="StartDate" class="">Start Date:</label>
                <input type="date"  class="" id="StartDate" name="StartDate" formControlName="StartDate" [(ngModel)]="StartDate" max="{{EndDate}}" [value]="">
                
                <!--validation-->
                <div *ngIf="submitted && mygroup.controls.StartDate.errors">
                    <div class = "validate" *ngIf="mygroup.controls.StartDate.errors.required">StartDate is required</div>
                </div>
            </div>
           
            <br>
            
        <!-- End Date -->  
            <div class="">
                    <div class="">
                        <label for="EndDate" class="">End Date:</label>
                        <input type="date" class="" id="EndDate" name="EndDate" formControlName="EndDate" min="{{StartDate}}" [(ngModel)]="EndDate">
                    </div>
            </div>

            <!-- Description -->  
            <div>
                <label for="Description" class="">Description:</label>
                <textarea class="" id="Description" name="Description" formControlName="Description" placeholder="Enter Description"></textarea>
            </div>

            <br><br><br>

            <div class="">
                <button class="btn-buttons" type="button" routerLink="">Go Back</button>
                <button class="btn-buttons" type="submit" >Submit</button>
            </div>
          
        </form>

    </div>
</div>


