# housingxyz :: gitignore

## angular
coverage/
dist/

## dotnet
.vscode/
bin/
obj/

## jekyll
.jekyll-cache/
.sass-cache/

.jekyll-metadata

## macos
.DS_Store

## nodejs
node_modules/

## react

## terraform
.terraform/

*.tfstate
*.tfstate.*
*.tfvars

## vuejs
