
<div class="show-head">
    <h1>Display All Rooms By Location</h1>
    <button [disabled]="locationID==null" (click)="showLocation()" id="btn-addRoom" >Add New Room</button>
</div>

<div class="show-body">

    <div class="nav-bar" ngStickyNav>
        <select class="dropdown" >
            <option disabled selected >Select a location</option>
            <option id="id" *ngFor="let location of locationList;" (click)="selectOption(location.locationID)">{{location.address}}, {{location.city}}, {{location.state}} {{location.zipCode}}</option>
        </select>
    </div>
        

    <div class="room-rooms">
        <div class="room-card" *ngFor="let room of roomList;">
            <div class="room-detail">
                <span id="txt">Room #:</span> {{room.roomNumber}}<br>
                <span id="txt">Room Type:</span> {{room.type}}<br>
                <span id="txt">Gender:</span> {{room.gender}}<br>
                <span id="txt">Occupancy: </span><strong>{{room.currentOccupancy}}</strong> of <strong>{{room.maxOccupancy}}</strong><br>
                <span id="txt">Start Date:</span> {{room.startDate | date:"d/M/yy"}} <br>
                <span id="txt">End Date: </span> {{room.endDate | date:"d/M/yy"}}<br>
                <span id="txt">Description: </span><br> <textarea id="des" [ngModel]="room.description" readonly></textarea><br>
                <br>
                <button id="btn-update" (click)="updateRoom(room.roomID);">Edit</button>
                <button id="btn-remove" [routerLink]="['/delete-room', room.roomID]">Unlist</button>

            </div>                 
        </div>
    </div>

</div>