<!-- ******************************************************************* -->
<!-- File Information -->
<!-- Document Name: add-location.component.html-->
<!-- Author: Luis Concepcion, Jialong Zhang-->
<!-- Date Created: 8/8/2019 -->
<!-- Date Updated: 8/12/2019  -->
<!-- This web site will display  -->
<!-- Created NgForm for location that consists of address,state,city,Zipcode -->
<!-- Used Httpclient get method to communicate with API to retrieve data -->
<!-- Add validation for Address,State,City,ZipCode,TrainingCenter-->
<!-- Add ZipCode Validation-->
<!-- ******************************************************************** -->


<div class="container-addloc">


    <div class="container-addloc-inner">
        <div class="title-addloc">
        <h1 class="pb-1">Add a Location</h1>
        </div>
        <br><br>
        <!-- Add Location form -->     
            <!-- Address --> 
        <form [formGroup]="locationGroup" (ngSubmit) = "OnSubmit()" id="LocationForm">
            <div class="">
                <div class="r">
                        <label for="Address" class="">Address:</label>
                        <input type="text" class="" name = "Address" id="Address" formControlName="Address" >
                        <!--validation-->
                        <div *ngIf="submitted && locationGroup.controls.Address.errors">
                            <div class = "" *ngIf="locationGroup.controls.Address.errors.required">Address is required</div>
                        </div>
                </div>
                <br>
        <!-- State --> 
            <div class="">
                        <label for="State" class="">State:</label>
                        <input type="text" class="" name="State" id="State" formControlName="State">
                        <!--validation-->
                        <div *ngIf="submitted && locationGroup.controls.State.errors">
                            <div class = "" *ngIf="locationGroup.controls.State.errors.required">State is required</div>
                    </div>
            </div>
            <br>
        <!-- City --> 
            <div class="">
                    <label for="City" class="">City:</label>
                    <input type="text" class="" id="City"  name="City" formControlName="City">
                    <!--validation-->
                    <div *ngIf="submitted && locationGroup.controls.City.errors">
                        <div class = "" *ngIf="locationGroup.controls.City.errors.required">City is required</div>
                    </div>
            </div>
            <br>
        <!-- ZipCode --> 
            <div class="">
                    <label for="ZIP" class="">Zip:</label>
                    <input type="text" class="" id="ZIP" name="ZipCode" formControlName="ZipCode">
                    <!--validation-->
                    <div *ngIf="submitted && locationGroup.controls.ZipCode.errors">
                        <div class = "" *ngIf="locationGroup.controls.ZipCode.errors.required">Zip Code is required</div>
                        <div class = "" *ngIf="locationGroup.controls.ZipCode.errors.minlength || locationGroup.controls.ZipCode.errors.maxlength">Zip Code must be 5 digits</div>
                        <div class = "" *ngIf="locationGroup.controls.ZipCode.errors.pattern && (!locationGroup.controls.ZipCode.errors.minlength && !locationGroup.controls.ZipCode.errors.maxlength)">Invalid Zip Code</div>
                    </div>
            </div>
            <br>
        <!-- Training Center --> 
            <div class="">
                <label for="TrainingCenter" class="">TrainingCenter:</label>
                <input type="text" class="" id="TrainingCenter" name="TrainingCenter" formControlName="TrainingCenter">
                <!--validation-->
                <div *ngIf="submitted && locationGroup.controls.TrainingCenter.errors">
                    <div class = "" *ngIf="locationGroup.controls.TrainingCenter.errors.required">Training Center is required</div>
                </div>
            </div>
        <!-- Training Center --> 
            <br><br>
            <div>
                <button class="btn-buttons" type="button" routerLink="">Go Back</button>
                <button class="btn-buttons" type="submit" >Submit</button>
            </div>

        </div>
        </form>
    </div>
     


</div>
