<!-- ******************************************************************* -->
<!-- File Information -->
<!-- Document Name: add-location.component.html-->
<!-- Author: Luis Concepcion, Jialong Zhang-->
<!-- Date Created: 8/8/2019 -->
<!-- Date Updated: 8/8/2019  -->
<!-- This web site will display  -->
<!-- Created NgForm for location that consists of address,state,city,Zipcode -->
<!-- Used Httpclient get method to communicate with API to retrieve data -->
<!-- ******************************************************************** -->

<div class="d-flex justify-content-center">
    <h1 class="pb-1">Add a Location</h1>

</div>
 <!-- Add Location form -->     
     <!-- Address --> 
<form [formGroup]="locationGroup" (ngSubmit) = "OnSubmit()">
    <div class="form-group" id="LocationForm">
        <div class="row justify-content-center">
                <label for="Address" class="col-sm-2">Address:</label>
                <input type="text" class="from-control col-sm-2" name = "Address" id="Address" formControlName="Address" >
                <!--validation-->
                <div *ngIf="submitted && locationGroup.controls.Address.errors">
                    <div class = "alert alert-danger" *ngIf="locationGroup.controls.Address.errors.required">Address is required</div>
                </div>
         </div>
         <br>
<!-- State --> 
    <div class="row justify-content-center">
                <label for="State" class="col-sm-2">State:</label>
                <input type="text" class="from-control col-sm-2" name="State" id="State" formControlName="State">
                <!--validation-->
                <div *ngIf="submitted && locationGroup.controls.State.errors">
                    <div class = "alert alert-danger" *ngIf="locationGroup.controls.State.errors.required">State is required</div>
               </div>
    </div>
    <br>
<!-- City --> 
    <div class="row justify-content-center">
            <label for="City" class="col-sm-2">City:</label>
            <input type="text" class="from-control col-sm-2" id="City"  name="City" formControlName="City">
            <!--validation-->
            <div *ngIf="submitted && locationGroup.controls.City.errors">
                <div class = "alert alert-danger" *ngIf="locationGroup.controls.City.errors.required">City is required</div>
            </div>
    </div>
     <br>
<!-- ZipCode --> 
     <div class="row justify-content-center">
            <label for="ZIP" class="col-sm-2">Zip:</label>
            <input type="text" class="from-control col-sm-2" id="ZIP" name="ZipCode" formControlName="Zip">
            <!--validation-->
            <div *ngIf="submitted && locationGroup.controls.Zip.errors">
                <div class = "alert alert-danger" *ngIf="locationGroup.controls.Zip.errors.required">Zip Code is required</div>
            </div>
    </div>
<!-- Training Center --> 
<div class="row justify-content-center">
    <label for="TrainingCenter" class="col-sm-2">TrainingCenter:</label>
    <input type="text" class="from-control col-sm-2" id="TrainingCenter" name="TrainingCenter" formControlName="TrainingCenter">
    <!--validation-->
    <div *ngIf="submitted && locationGroup.controls.TrainingCenter.errors">
        <div class = "alert alert-danger" *ngIf="locationGroup.controls.TrainingCenter.errors.required">Training Center is required</div>
    </div>
</div>
<!-- Training Center --> 
    <div>
        <input type="submit" value="Submit" class="btn btn-primary">
    </div>

</div>
</form>
     