<div class="container-deleteroom">
    
    <div class="container-deleteroom-inner">
 
        <span>Address: {{location.address}}</span>
        <br><br>
        <span>{{location.city}}, {{location.state}} {{location.zip}}</span>
        <br><br>
        <span id="txt">Room #: {{room.roomNumber}}</span>
        <br><br>
        <span id="txt">Gender: {{room.gender}}</span>
        <br><br>
        <span id="txt">Occupancy: <b>{{room.currentOccupancy}}</b> of <b>{{room.maxOccupancy}}</b></span>
        <br><br>
        <span id="txt">Start Date: {{room.startDate | date:shortDate}} </span>
        <br><br>
        <span id="txt">End Date: {{room.endDate | date:shortDate}}</span>
        <br><br>
        <span id="des">{{room.description}}</span>
        <br><br>
        
        <p id="txt-confirm">Are you sure you want to Unlist this room?</p>
        
        <button class="btn-buttons" routerLink="">Go Back</button>
        <button class="btn-buttons" (click)="deleteRoom(room.roomID)">Unlist</button>

    </div>

</div>                 