<div class="container-deleteroom">
    
    <div class="container-deleteroom-inner">

        <span>Address: </span>   
        <span>{{location.address}}</span>
        <br><br>
        <span>{{location.city}}, {{location.state}} {{location.zip}}</span>
        <br><br>
        <span id="txt">Room #:</span> {{room.roomNumber}}
        <br><br>
        <span id="txt">Gender:</span> {{room.gender}}
        <br><br>
        <span id="txt">Occupancy: </span><b>{{room.currentOccupancy}}</b> of <b>{{room.maxOccupancy}}</b>
        <br><br>
        <span id="txt">Start Date:</span> {{room.startDate | date:shortDate}} 
        <br><br>
        <span id="txt">End Date: </span> {{room.endDate | date:shortDate}}
        <br><br>
        <span id="des">{{room.description}}</span>
        <br><br>
        
        <p id="txt-confirm">Are you sure you want to Delete this room?</p>
        
        <button class="btn-buttons" routerLink="">Go Back</button>
        <button class="btn-buttons" (click)="deleteRoom(room.roomID)">Delete</button>

    </div>

</div>                 


