*{
    padding: 0;
    margin: 0;
    border: 0;
}

body{
    background-color: white;
    font-family: 'Red Hat Display', sans-serif;
    min-width: 1150px;
}

footer{
    float: left;
    width: 100%;
    background-color: #535e63;
    color: white;
    padding: 50px;
}

footer a{
    color: white;
}

footer a:hover{
    text-decoration: none;
    color: white;
}

.contact{
    text-align: center;
}

#copy-right{
    float: right;
}

hr{
    background-color: white;
}

.btn-buttons{
    margin-right: 20px;
    background-color: cadetblue;
    color: white;
    padding: 5px 20px 5px 20px;
    opacity: 0.7;
    border-radius: 5px;
}

.btn-buttons:hover{
    opacity: 1;
}

.validate{
    color: hotpink;
}