.location {
    width: 60%;
    min-width: 400px;
    max-width: 800px;

    background-color: rgb(220, 220, 220);
    border: 1px solid black;
    margin: 50px auto;
}

.room {
    border-top: 1px dashed black;
}

button {
    margin: 20px;
    padding: 10px;
    background-color: rgb(200, 200, 200);
}